<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="blog/header::header"></div>
<body>
	<div th:replace="blog/header::navbar"></div>
	<br />
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div th:each="post:${posts}">
					<div class="card">
						<div class="card-header">
							<h3>
								<a th:href="@{/post/{postUrl}(postUrl=${post.url})}"
									th:text="${post.title}"></a>

							</h3>
							<div>
								<strong th:text="${post.createdOn}"> </strong>
							</div>
						</div>
						<div class="card-body">
							<span th:utext="${post.shortDescription}"></span> <a
								th:href="@{/post/{postUrl}(postUrl=${post.url})}">Read More</a>

						</div>
					</div>
					<br />
				</div>
				
			</div>
          <div class="col-md-3">
         <div th:replace="blog/search::search"></div>
          </div>
		</div>
	</div>
	<div th:replace="blog/footer::footer"></div>
</body>
</html>